[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ptvsd = "*"

[packages]
graphene = "*"
flake8 = "*"
starlette = "*"
uvicorn = "*"
python-dotenv = "*"
snapshottest = "*"
pytest = "*"
neo4j = "*"
itsdangerous = "*"
ariadne = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
